{% extends 'base.html' %}

{% block content %}
  <div style="height: 20rem; background-color: #38df81; border-radius: 1rem; margin: 2rem;">
    <h1>
      testing
    </h1>

    <!--   action 에는 요청을 하려는 url (주소)를 넣어줘야 한다., post를 사용해서 메시지를 보내겠다고 함-->
    <form action="/account/hello_world/" method="post">
       {% csrf_token %}
      <!--btn, btn-primary 클래스는 bootstrap 라이브러리 안에 있는 클래스 중 하나 , 버튼 내에 들어갈 텍스트 POST 지정-->
      <input type="submit" class="btn btn-primary" value="POST">
    </form>

     <h1>
       {{ text }}
     </h1>

  </div>

{% endblock %}