{% extends 'base.html' %}

{% block content %}
  <div style="border-radius: 1rem; margin: 2rem; text-align: center;">
    <h1 style="font-family:'lobster', cursive"> <!-- lobster 라는 글꼴이 없으면 cursive 대신 쓰라는 뜻 -->
      Hello World LIST!
    </h1>

    <!--   action 에는 요청을 하려는 url (주소)를 넣어줘야 한다., post를 사용해서 메시지를 보내겠다고 함-->
    <form action="/account/hello_world/" method="post">
       {% csrf_token %}

        <div>
            <input type="text" name="hello_world_input">
        </div>
        <div>
            <!--btn, btn-primary 클래스는 bootstrap 라이브러리 안에 있는 클래스 중 하나 , 버튼 내에 들어갈 텍스트 POST 지정-->
             <input type="submit" class="btn btn-primary" value="POST">
        </div>

    </form>


      {% if hello_world_list %}
         {% for hello_world in hello_world_list %}

             <h4>
                 {{ hello_world.text }}
             </h4>
        {% endfor %}
      {% endif %}



  </div>

{% endblock %}